body{
    margin: 0%;
    font-family: monospace;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items:center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, rgb(65, 88, 208) 0%, #C850C0 46%, #FFCC70 100%);

}

.container{
    width: 30%;
    justify-content:center;
    text-align: center;
    padding: 2rem;
    background-color: rgb(255,255,255,.3);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
}

.heading{
    font-size: 250%;
}

.emoji{
    font-size:20px;
    display: flex;
    padding: 2rem;
}

.emoji div{
    padding: 10px;
    overflow:hidden;
    cursor: pointer;
}

.emoji div:hover{
    background-color: lightblue;
    border-radius: 10px;
    color:gray;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
    transition: all 320ms ease;
}

.emoji div img{
    width: 3.5rem;
}

.btn{
    padding: 0.8rem;
    border-radius: 10px;
    font-size: medium;
    background-color: #C850C0;
    color: black;
    border-color: rgb(255,255,255,0.1);
}

.btn:hover{
   background-color: orange;
   border-color: rgb(255,255,255,0.5);

}

.activ{
    background-color: lightblue;
    border-radius: 10px;
    color:gray;
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
    transition: all 320ms ease;
}

.btn:active{
    transform: scale(0.96);
}



